@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://code.createjs.com/easeljs-0.8.0.min.js"></script>
</head>
<body onload="init()">

    <script>
        var canvas, stage;
        var drawingCanvas;

        function init() {
            canvas = document.getElementById('myCanvas');
            var circle = new createjs.Shape();
            circle.graphics.beginFill("DeepSkyBlue").drawCircle(0, 0, 20);
            circle.x = 100;
            circle.y = 100;
            stage.addChild(circle);

            circle.addEventListener(onclick, getPosition);

           stage.update();
        }

        function getPosition(event) {
            var x = event.x;
            var y = event.y;

            var canvas = document.getElementById('myCanvas');

            x += canvas.offsetLeft;
            y += canvas.offsetTop;

            console.log(x + y);
        }





    </script>

    <canvas id="myCanvas" width="500" height="500"></canvas>

</body>

</html>


