@{
    Layout = "~/Views/Shared/_ErikLayout.cshtml";

}

<div id="myDiv">
    <h2>Welcome Camels</h2>

    <h4>Ready to start chatting with other camels?</h4>
    <h4>Click @Html.ActionLink("here", "signup", "Account") to sign up and if you have an account just click @Html.ActionLink("Log In", "login", "Account")</h4>
</div>

<div id="camelDiv">
    <img id="camelPic" src="~/Content/Camel.jpg" />
    
</div>

<footer>
    <p>Made by the best Camels in the world! <br />
    Lisa Jahrulf, Erik Morén, Gabriel Aguilar</p>
</footer>


