
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ErikLayout.cshtml";
}

<h2>Error</h2>
<h3>There was a critical error handling your request but don't worry, we have our best man on it!</h3>
<img src="http://www.5cense.com/Africa/pics/04_Sleeping_camel.jpg" alt="Sleeping camel" />

