
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ErikLayout.cshtml";
}
<body id="errorBody">
    <div id="errorContent">
        <h2>Error</h2>
        <p>There was a critical error handling your request but don't worry, we have our best man on it!</p>
        <img src="http://www.5cense.com/Africa/pics/04_Sleeping_camel.jpg" alt="Sleeping camel" />
    </div>
</body>
